body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.ant-pro-page-container-children-container {
    padding: 20px;
}

.pagBody {
    height: calc(95vh - 152px);
    width: -webkit-fill-available;
    top: 140px;
    position: absolute;
    overflow: auto;
    border-radius: 30px 30px 30px 30px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    margin-right: 20px;
}

.ant-page-header.ant-page-header-ghost,
.drag,
.ant-layout-sider {
    -webkit-app-region: drag;
}

li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child::after {
    clear: both;
    content: '';
    display: block;
    height: 16px;
    width: 3px;
    background: var(--ant-menu-item-selected-color);
    position: absolute;
    border-radius: 6px;
    top: 12px;
    left: 0
}

.ant-layout-sider-children {
    margin-inline-end: 0px;
    border-inline-end: 0px !important;
    padding-block: 4px !important;
}

.no-drag,
.ant-menu-item,
.ant-pro-sider-actions,
.ant-menu-submenu,
.ant-pro-sider-collapsed-button.ant-pro-sider-collapsed-button-collapsed {
    -webkit-app-region: no-drag;
}

.ant-pro-sider-logo-collapsed a {
    padding-left: 30px;
}

.headerTool {
    margin-left: 50px;
    margin-top: 15px;
    height: 30px;
}

.themeTool {
    width: 56px;
    margin-top: 3px;
}

.settings {
    width: 45px;
}

.settingsButton {
    font-family: inherit;
    font-size: 8px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.settingsButton:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.settingsButton:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.settingsButton svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.settingsButton .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.settingsButton:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.settingsButton:hover svg {
    transform: rotate(45deg);
}